body{
    background-color: #f7f7f7;
}
h3 {
    font-size: 16px;
    font-weight: 600;
}
#root {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(350px, 2fr));
    grid-auto-rows: 50px;
    /* grid-auto-flow: column; */
    grid-gap: 20px;
  }

.parent {
    margin-left: 10px;
}

.student {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

details{
    color:#686868;
    padding: 5px;
    min-height:50px;
}

details[open] {
    z-index:99;
    min-height:100px;
    grid-row: span 6;
    box-shadow: none;
}

